/* adjust the styling of native linkedin classes */

/* hide newsfeed updates */
.feed-shared-update-v2 { 
    visibility: hidden;
}

/* hide newsfeed "new posts" button */
.feed-new-update-pill { 
    visibility: hidden;
}

/* hide right rail on homepage, which includes the news module, ads, and footer*/
.scaffold-layout__aside { 
    visibility: hidden;
}

/* remove right column on profile pages, includes suggestions and linkedin learning */
.pv-content__right-rail { 
    visibility: hidden;
}

/* remove ads */
.ad-banner-container { 
    visibility: hidden;
}

#ads-container { 
    visibility: hidden;
}

/* adjust color of notifications */
.notification-badge.notification-badge--show { 
    background-color: #0a66c2 !important;
}

/* adjust color of message pane's msg count */
.msg-overlay-bubble-header__unread-count { 
    background-color: #000000 !important;
    border-color: darkgrey;
}