/* adjust the styling of native linkedin classes */

/* hide newsfeed updates */
.feed-shared-update-v2 { 
    visibility: hidden;
}

/* hide newsfeed "new posts" button */
.feed-new-update-pill { 
    visibility: hidden;
}

/* hide right rail on homepage, which includes the news module, ads, and footer*/
.scaffold-layout__aside { 
    visibility: hidden;
}

/* remove right column on profile pages, includes suggestions and linkedin learning */
.pv-content__right-rail { 
    visibility: hidden;
}

/* remove ads */
.ad-banner-container { 
    visibility: hidden;
}

#ads-container { 
    visibility: hidden;
}