/* style toggle button */
#hider__toggle-button {
    float: left;
    height: 48px;
    padding-top: 2px;
    color: #424447;
}

#hider__toggle-button:hover::before {
    margin-left: 2px !important;
    margin-top: 5px !important;
    margin-right: 2px !important;
    margin-bottom: 5px !important;
}

/* remove box shadow from top gmail toolbar  */
.G-atb::before {
    box-shadow: none !important;
}

/* add border to top gmail toolbar to replace box shadow */
div#\:4 {
    border-bottom: 1px solid #e5e5e5 !important;
}