/* hide suggested & recent job searches */
main > section.jobs-home-recent-searches {
    visibility: hidden;
}

/* hide job recs on larger viewports */
main.scaffold-layout__main > div.scaffold-finite-scroll.scaffold-finite-scroll--infinite {
    visibility: hidden;
}
/* hide job recs on smaller viewports, where the class changes to "...finite" */
main.scaffold-layout__main > div.scaffold-finite-scroll.scaffold-finite-scroll--finite {
    visibility: hidden;
}

/* hide mock interview questions sidebar on saved jobs page */
main > aside[aria-label="Additional information"] {
    visibility: hidden;
}