/* adjust the styling of native linkedin classes */

/* hide right sidebar on homepage and jobs page */
/* on homepage it includes the news module, ads, and footer */
/* on jobs page it includes job seeker guidance and footer
/* don't hide right rail on company admin page */
.scaffold-layout__aside:not(div.org-admin aside.scaffold-layout__aside) { 
    visibility: hidden;
}

/* remove right sidebar on profile pages; it includes suggestions, linkedin learning, and footer */
.pv-content__right-rail { 
    visibility: hidden;
}

/* remove ads */
.ad-banner-container { 
    display: none;
}

#ads-container { 
    display: none;
}

/* adjust color of notifications */
.notification-badge.notification-badge--show { 
    background-color: #0a66c2 !important;
}

/* adjust color of message pane's msg count */
.msg-overlay-bubble-header__unread-count { 
    background-color: #000000 !important;
    border-color: darkgrey;
}

/* hide promo card that sometimes appears on jobs page */
.jobs-home-galapagos-promo-board {
    display: none;
}

/* style the newsfeed toggle button */
#dfl_newsfeed-toggle-button {
    display: block;
    max-width: 100%;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;  
}

/* style the network suggestions toggle button */
#dfl_network-toggle-button {
    display: block;
    max-width: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;  
}

/* style the job recommendations toggle button */
#dfl_jobs-toggle-button {
    display: block;
    max-width: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px !important;  
}